* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body, #viewer {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#modal-map-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#progress-box {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: black;
    z-index: 100;
}

#progress-bar {
    background-color: red;
    display: block;
    height: 100%;
}

code {
    color: lime;
}