/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal__container {
  background-color: #000;
  padding: 10px;
  max-width: 500px;
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  border: 2px solid lime;
}

.micromodal-full .modal__container {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: initial;
  display: flex;
  flex-direction: column;
}

@media (min-height: 500px) {
  .modal__overlay {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .modal__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (min-width: 500px) {
  .modal__overlay {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .modal__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 500px) and (min-height: 500px) {
  .modal__container {
    border-radius: 4px;
  }
}

.modal__container a {
  color: lime;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: lime; /*#00449e;*/
  box-sizing: border-box;
}

.modal__close {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAA+klEQVRo3u2YQQ6CMBAAUfCHhIP+zkg88EMxGQ+WpCFgLN21i9k5ElNm2sASq8pxHMdxnJ0A1MAVuCis3QJ34KQp3/PmKRkR5Mew9qASEclPjEAnsG4XyU/0GgEt8JjdKOskZjsfr3kWD5CO+Lm8ZEQxeYmI4vI5EWbkt0SYk0+JMCv/TYR5+ShiaSCNK9eyB6BWxNJJ2N75hAgV+aNSxyHxug1WHtjkYVdKfr8P8adXZcqwMyc/+429iJQhZS5iy4Q1E7FF3kxEjnzxCAn5YhGS8kUi+IO/VWrgJrHzC2vHJzEAjXhAuFETTkL8UyCcRK8m7ziO4ziOAi8k8eVdStU49gAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAyMC0xMC0xOVQwODowOTo1OSswMDowMEhIKzkAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjAtMTAtMTlUMDg6MDk6NTkrMDA6MDA5FZOFAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==");
  background-position: center;
  background-size: contain;
  border: 0;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: inline-block;
}

/*.modal__header .modal__close:before { content: "\2715"; }*/

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: #fff; /* rgba(0,0,0,.8);*/
}

.micromodal-full .modal__content {
  flex: 1 1 auto;
  overflow-y: hidden;
  margin: 0;
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #1a1a1a; /*e6e6e6;*/
  color: #e6e6e6; /*rgba(0,0,0,.8);*/
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  backface-visibility: hidden;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

.modal__btn-floor {
  border: 2px solid lime;
  font-size: 12pt;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0;
  font-weight: 900;
  line-height: 25px;
}

@media (min-height: 500px) {
  .modal__btn-floor {
    font-size: 20pt;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    line-height: 44px;
    border-width: 3px;
  }
}

.modal__btn-floor:hover, .modal__btn-floor.active:hover {
    background-color: green;
}

.modal__btn-floor.active {
  background-color: lime;
  color: black;
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}